@{
    ViewBag.Title = "Play";
}

<div ng-app="testApp">
    <h3><a href="#/List">List</a></h3>
    <h3><a href="#/Individual">Individual</a></h3>
    <h3><a href="#/Third/2">Third</a></h3>
    <div ng-view></div>
</div>

@section scripts {
    <script type="text/javascript" src="~/app/angular.min.js"></script>
    <script type="text/javascript" src="~/app/angular-route.min.js"></script>

    <script type="text/javascript" src="~/app/app.js"></script>
    <script type="text/javascript" src="~/app/customer-controller.js"></script>
    <script type="text/javascript" src="~/app/customer-service.js"></script>
}