@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>I specialize in developing RESTful C# Web APIs. They make me happy!</p>
<p>I am also skilled in a variety of Full Stack Web Development technologies (C#, .Net, Web APIs, Microsoft MVC, JQuery, Javascript, HTML, CSS, SQL).</p>
<p>Additionally I’ve got a passion for presentations and interactions to go along with my technical skills.</p>
<p>I have 5+ years working within a variety of Agile methodologies. Agile, Kanban, even FrAgile!</p>

<div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="benjamin-howard-63460132"><a class="LI-simple-link" href='https://www.linkedin.com/in/benjamin-howard-63460132?trk=profile-badge'>Benjamin Howard</a></div>

@section Scripts{
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
}
